@import 'global.css';

.main-section {
	margin: 45px 1rem auto 1rem;
	height: calc(100vh - 45px);
}

.main-section__container {
	/* height: calc(100% - 45px); */
	height: 100%;
}

.title-container {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.single-invoice {
	margin-bottom: 1.25rem;
	overflow: hidden;
	transition: var(--transition);
}

.invoice-container {
	background: var(--element);
	padding: 1.75rem;
	z-index: 0;
	transition: var(--transition);
}

.highlight-off {
	background-color: var(--element);
	border-bottom-left-radius: var(--radius-2);
	border-bottom-right-radius: var(--radius-2);
	border-top-right-radius: var(--radius-2);
	border-top-left-radius: var(--radius-2);
}

.highlight-on {
	color: var(--dark-text-primary);
	background-color: var(--highlight);
	border-top-right-radius: var(--radius-2);
	border-top-left-radius: var(--radius-2);
	border-bottom-left-radius: none;
	border-bottom-right-radius: none;
}

.highlight-on > .due-and-status > .overdue {
	background-color: var(--overdue-text);
	color: var(--overdue-bg);
}

.highlight-on > .due-and-status > .paid {
	background-color: var(--paid-text);
	color: var(--paid-bg);
}

.highlight-on > .due-and-status > .pending {
	background-color: var(--pending-text);
	color: var(--pending-bg);
}

.highlight-on > .due-and-status > .draft {
	background-color: var(--secondary);
	color: var(--highlight);
}

.full-info {
	background-color: var(--element);
	/* transition: var(--transition); */
	border-bottom-left-radius: var(--radius-2);
	border-bottom-right-radius: var(--radius-2);
	/*  */

	overflow: hidden;
}

.full-info-container {
	padding: 1.75rem 1.75rem 0 1.75rem;
	transition: var(--transition);
}

.less {
	/* max-height: 0; */
	max-height: 0;
	transition: max-height 0.3s ease-out;
	/* transform: scaleY(0%); */
}

.more {
	max-height: 1000px;
	transition: max-height 0.3s ease-in;
	/* height: 100%; */
	/* height: 1000px; */
	/* transform: scaleY(100%); */
}

.full-info-title-container {
	/* display: flex; */
	display: grid;
	/* grid-template-columns: 49% 49%; */
	grid-template-columns: auto auto;
	justify-content: space-between;
	text-align: end;
	gap: 2%;
	/* align-items: center; */
}

.description-creation {
	text-align: start;
	/* width: 150px; */
}

.full-info-items {
	margin: 3rem 0;
}

.full-info-single-item {
	display: grid;
	width: 100%;
	/* grid-template-columns: 30% 5% 20% 25%; */
	margin: 0.75rem 0;
	grid-template-columns: 34% 5% 29% 29%;
	justify-content: space-between;
	text-align: end;
	gap: 1%;
}

/* .edit-client-address:-webkit-autofill,
.edit-client-address:-webkit-autofill:hover,
.edit-client-address:-webkit-autofill:focus,
.edit-client-address:-webkit-autofill:active {
	border: none;
} */

.full-info-item {
	text-align: end;
	padding: 0.25rem;
	/* border-radius: 0; */
	border: none;
	font-size: 0.875rem;
	/* width: auto; */
	width: 100%;
	resize: none;
}

.full-info-item:focus {
	border: 1px solid var(--highlight);
	outline: none;
}

.edit-name {
	text-align: start;
}

.edit-job-description {
	text-align: start;
	font-size: 1.125rem;
	font-weight: 500;
	height: auto;
	min-height: 15px;
}

.edit-sent-date {
	font-weight: 300;
}

.edit-expected {
	font-size: var(--s-font);
	font-weight: 300;
}

.client-address-info {
	display: grid;
	background: transparent;
	/* flex-direction: row; */
	/* flex-wrap: nowrap; */
	/* max-width: ; */
	width: auto;
	height: 150px;
	justify-items: end;
	width: 100%;
	/* max-width: 200px; */
}

.edit-client-address {
	font-weight: 300;
	padding-top: 1px;
	padding-bottom: 1px;
	height: 30px;
	/* width: auto; */
	width: 100%;
}

.edit-client {
	height: 35px;
}

.edit-total {
	/* font-size: ; */
}

.editable {
	background-color: var(--secondary);
}

.non-editable {
	background-color: var(--element);
}

@media screen and (min-width: 568px) {
	.full-info-item {
		font-size: 1rem;
		font-weight: 400;
	}

	.edit-client-address {
		font-weight: 300;
	}

	.edit-job-description {
		font-size: 1.5rem;
	}
}

.full-info-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--secondary);
	padding: 1.75rem;
	gap: 1rem;
}

.full-info-buttons-container {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	transition: var(--transition);
}

.full-info-btns {
	width: 75px;
	padding: 0.5rem;
	border-radius: 25px;
	text-align: center;
	font-size: 0.75rem;
	cursor: pointer;
	align-self: flex-end;
	transition: var(--transition);
}

.delete-invoice {
	background-color: var(--delete);
	color: var(--dark-text-primary);
}

.edit-invoice {
	background-color: var(--highlight);
	color: var(--dark-text-primary);
}

.save-edit {
	background-color: var(--paid-text);
	color: var(--dark-text-primary);
}

.confirmation {
	width: auto;
	display: flex;
	justify-content: space-between;
	background-color: var(--primary);
	border-radius: 25px;
	overflow: hidden;
	transition: var(--transition);
}

.no {
	transition: var(--transition);
}

.cancel-open {
	width: 75px;
	padding: 0;
}

.cancel-closed {
	width: 0;
}

.full-info-total {
	justify-self: flex-end;
	text-align: end;
	display: none;
}

.name-and-id {
	display: flex;
	justify-content: space-between;
	z-index: 0;
}

.id {
	text-transform: uppercase;
	z-index: 0;
}

.due-and-status {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}

.status-container {
	display: flex;
	align-items: center;
	/* background: var(--paid-bg); */
	padding-right: 0.65rem;
	/* padding-left: 0.25rem; */
	width: 150px;
	justify-content: center;
	max-height: 55px;
	border-radius: var(--radius-2);
	cursor: pointer;
}

.dot {
	/* color: var(--paid-text); */
	font-size: 5rem;
	line-height: 24px;
	display: flex;
	transform: translateY(6px);
	margin-right: 7px;
}

.total {
	font-weight: 400;
}

.id {
	font-weight: 500;
}

@media screen and (max-width: 568px) {
	.status-container {
		width: 120px;
	}
}

@media screen and (min-width: 568px) {
	.due-and-status {
		margin-top: 2rem;
	}
	.main-section {
		margin: 75px 1rem auto 1rem;
	}

	.full-info-btns {
		width: 100px;
		font-size: 0.875rem;
	}

	.full-info-total {
		display: block;
	}
	.cancel-open {
		width: 100px;
	}
}

@media screen and (min-width: 865px) {
	.main-section__container {
		margin-left: 75px;
	}

	.main-section {
		max-width: 950px;
		margin: 0 auto;
		padding: 0 1rem;
	}

	.invoice-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		padding: 1.25rem 2rem;
	}

	.due-and-status {
		flex-direction: row;
		margin: 0;
		gap: 1.5rem;
	}

	.due-and-total {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
	}

	.name-and-id {
		gap: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.id {
		width: 85px;
	}

	.total {
		width: 125px;
		text-align: end;
	}

	.status-container {
		width: 125px;
		padding-top: 0.875rem;
		padding-bottom: 0.875rem;
	}

	.title-container {
		padding: 1rem 0;
	}

	.page-title {
		font-size: 3rem;
		padding: 3rem 0;
	}
}

/* Status */

.paid {
	color: var(--paid-text);
	background: var(--paid-bg);
}

.pending {
	color: var(--pending-text);
	background: var(--pending-bg);
}

.overdue {
	color: var(--overdue-text);
	background: var(--overdue-bg);
}

.draft {
	color: var(--draft-text);
	background: var(--draft-bg);
}