@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;500;700&display=swap');

/* 
================
Variables
================
*/

:root {
	/* Dark theme */
	--dark-primary: #141625;
	--dark-secondary: #5a556c;
	--dark-element: #1f213a;
	--dark-text-primary: #feffff;
	--dark-text-secondary: #9496af;
	--dark-box-shadow: 2px 0px 5px var(--dark-secondary);
	--dark-paid-text: #58a799;
	--dark-paid-bg: #1e2d3a;
	--dark-pending-text: #e89127;
	--dark-pending-bg: #30232a;
	--dark-overdue-text: #ee5555;
	--dark-overdue-bg: #442525;
	--dark-draft-text: #d1d3ea;
	--dark-draft-bg: rgba(49, 50, 67, 0.875);

	/* Light theme */
	--light-primary: #f8f7fc;
	--light-secondary: #cac3e6;
	--light-element: #ffffff;
	--light-text-primary: #3a3a3a;
	--dark-text-secondary: #c8c7cb;
	--light-box-shadow: 2px 0px 5px var(--light-secondary);
	--light-paid-text: #57aa8e;
	--light-paid-bg: #e6fff8;
	--light-pending-text: #dda658;
	--light-pending-bg: #fff6f3;
	--light-overdue-text: #da6d6d;
	--light-overdue-bg: #fbeeee;
	--light-draft-text: #9772e1;
	--light-draft-bg: rgba(242, 237, 255, 0.95);

	/* Main */
	--highlight: #8362fe;
	--highlight-2: #7c5df9;
	--icons: #8282a5;
	--delete: #f25c5c;
	--font: 'Jost', sans-serif;
	--paid-text: var(--dark-paid-text);
	--paid-bg: var(--dark-paid-bg);
	--pending-text: var(--dark-pending-text);
	--pending-bg: var(--dark-pending-bg);
	--overdue-text: var(--dark-overdue-text);
	--overdue-bg: var(--dark-overdue-bg);
	--draft-text: var(--dark-draft-text);
	--draft-bg: var(--dark-draft-bg);
	/* --paid-text: #58a799;
	--paid-bg: #1e2d3a;
	--pending-text: #e89127;
	--pending-bg: #30232a;
	--overdue-text: #ee5555;
	--overdue-bg: #771b1b8a;
	--draft-text: #d1d3ea;
	--draft-bg: #2a2c43; */
	/* Elements */
	--transition: all 0.3s linear;
	--max-width: 1170px;
	--radius-1: 0.25rem;
	--radius-2: 0.5rem;
	--primary: var(--dark-primary);
	--secondary: var(--dark-secondary);
	--element: var(--dark-element);
	--text-primary: var(--dark-text-primary);
	--text-secondary: var(--text-secondary);
	--box-shadow: var(--dark-box-shadow);
}

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* 
================================================================================
   ____   _           _               _ 
  / ___| | |   ___   | |__     __ _  | |
 | |  _  | |  / _ \  | '_ \   / _` | | |
 | |_| | | | | (_) | | |_) | | (_| | | |
  \____| |_|  \___/  |_.__/   \__,_| |_|

================================================================================
*/

body {
	background-color: var(--primary);
	color: var(--text-primary);
	font-family: var(--font);
	transition: var(--transition);
}

main {
	width: 100%;
	height: 100%;
}

.section-center {
	/* height: 100vh; */
	/* width: 100vw; */
	/* min-height: 100; */
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
}

img {
	/* max-height: 50px; */
	height: 100%;
}

input {
	padding: 0.75rem;
	border-radius: var(--radius-2);
	border: none;
	background-color: var(--element);
	color: var(--text-primary);
	font-family: var(--font);
	font-size: 1rem;
	border: 1px solid var(--text-primary);
}

h1 {
	font-size: 1.25rem;
}

h2 {
	font-size: 0.875rem;
	font-weight: 300;
}

h4 {
	font-size: 0.875rem;
	font-weight: 400;
}

@media screen and (min-width: 568px) {
	h1 {
		font-size: 1.25rem;
	}

	h2 {
		font-size: 1rem;
		font-weight: 300;
	}

	h4 {
		font-size: 1rem;
		font-weight: 400;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 30px var(--element) inset;
	-webkit-box-shadow: 0 0 0 30px var(--element) inset !important;
	border: 1px solid var(--text-primary);
	box-sizing: border-box;
}

input:focus {
	outline: 2px solid var(--highlight);
}

input:-webkit-autofill {
	-webkit-text-fill-color: var(--text-primary) !important;
}

a {
	color: var(--highlight);
}

/* 
================================================================================
     _              _     _     
    / \     _   _  | |_  | |__  
   / _ \   | | | | | __| | '_ \ 
  / ___ \  | |_| | | |_  | | | |
 /_/   \_\  \__,_|  \__| |_| |_|

================================================================================
*/

.field {
	width: 350px;
	height: auto;
	border-radius: var(--radius-2);
	background-color: var(--primary);
	padding: 1.5rem;
	box-shadow: 0px 2px 5px rgba(152, 152, 152, 0.344);
	border: 1px solid var(--text-primary);
}

.form {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	text-align: center;
}

.auth-title {
	font-size: 2rem;
	font-weight: 300;
}

.btn {
	background-color: var(--highlight);
	border: none;
	padding: 0.675rem 0;
	border-radius: var(--radius-2);
	font-size: 1rem;
}

.error {
	color: var(--delete);
}

.success {
	color: var(--paid-text);
}

/* 
================================================================================
  ____                  _       _                                  _ 
 |  _ \    __ _   ___  | |__   | |__     ___     __ _   _ __    __| |
 | | | |  / _` | / __| | '_ \  | '_ \   / _ \   / _` | | '__|  / _` |
 | |_| | | (_| | \__ \ | | | | | |_) | | (_) | | (_| | | |    | (_| |
 |____/   \__,_| |___/ |_| |_| |_.__/   \___/   \__,_| |_|     \__,_|

================================================================================
*/

.dashboard {
	background: var(--primary);
	width: 100%;
	height: 100%;
	position: relative;
}

.header {
	background: var(--element);
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-shadow: var(--box-shadow);
	position: fixed;
	/* top: 0; */
	z-index: 1;
	/* display: none; */
	/* margin-bottom: 75px; */
}

.profile-mode-container {
	height: 75px;
	width: 124px;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	transition: var(--transition);
	/* align-self: flex-end; */
}

.mode-container {
	display: flex;
	align-items: center;
}

.mode-icon {
	height: 20px;
	filter: invert(59%) sepia(34%) saturate(281%) hue-rotate(202deg) brightness(82%) contrast(88%);
}

.profile-photo-container {
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-photo {
	filter: invert(59%) sepia(34%) saturate(281%) hue-rotate(202deg) brightness(82%) contrast(88%);
	padding: 0.5rem;
	transition: var(--transition);
}

.icon-container {
	background: var(--highlight);
	height: 75px;
	width: calc(100% + 100px);
	display: flex;
	flex: 1 0;
	justify-content: space-between;
	align-items: center;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: var(--transition);
	z-index: 2;
	padding: 0 30px;
}

.logo {
	height: 100%;
	width: 40px;
	filter: invert(100%) sepia(0%) saturate(7482%) hue-rotate(75deg) brightness(99%) contrast(106%);
}

.cancel-btn {
	background-color: var(--element);
	color: var(--font);
	font-family: var(--font);
	padding-left: 1rem;
	padding-right: 1rem;
	transition: var(--transition);
	border-radius: 25px;
}

@media screen and (min-width: 865px) {
	.header {
		width: 75px;
		height: 100vh;
		flex-direction: column;
		border-top-right-radius: 20px;
		z-index: 2;
		position: fixed;
	}

	.profile-mode-container {
		flex-direction: column;
		width: 75px;
		height: 124px;
	}

	.profile-photo-container {
		width: 100%;
	}

	.icon-container {
		height: 75px;
	}

	.logo {
		justify-self: flex-end;
		margin-top: 25px;
		margin-bottom: 25px;
		/* height: 25px; */
	}

	.cancel-btn:hover {
		background-color: var(--delete);
		color: var(--dark-overdue-bg);
	}

	.cancel-btn:active {
		background-color: var(--dark-overdue-bg);
	}

	:root {
		--light-box-shadow: 0px 2px 5px var(--light-secondary);
		--dark-box-shadow: 0px 2px 5px var(--dark-secondary);
	}
}

/* 
================================================================================
  ___                           _                     
 |_ _|  _ __   __   __   ___   (_)   ___    ___   ___ 
  | |  | '_ \  \ \ / /  / _ \  | |  / __|  / _ \ / __|
  | |  | | | |  \ V /  | (_) | | | | (__  |  __/ \__ \
 |___| |_| |_|   \_/    \___/  |_|  \___|  \___| |___/

================================================================================
*/

.invoices-section {
	margin: 75px 1rem auto 1rem;
}

.title-container {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.invoice-container {
	background: var(--element);
	border-radius: var(--radius-2);
	padding: 1.75rem;
	margin-bottom: 1.25rem;
	z-index: 0;
}

.name-and-id {
	display: flex;
	justify-content: space-between;
	z-index: 0;
}

.id {
	text-transform: uppercase;
	z-index: 0;
}

.due-and-status {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
}

.status-container {
	display: flex;
	align-items: center;
	/* background: var(--paid-bg); */
	padding-right: 0.65rem;
	/* padding-left: 0.25rem; */
	width: 150px;
	justify-content: center;
	max-height: 55px;
	border-radius: var(--radius-2);
}

.dot {
	/* color: var(--paid-text); */
	font-size: 5rem;
	line-height: 24px;
	display: flex;
	transform: translateY(6px);
	margin-right: 7px;
}

.total {
	font-weight: 400;
}

.id {
	font-weight: 500;
}

@media screen and (max-width: 568px) {
	.status-container {
		/* padding-right: 0; */
		/* padding-left: 0; */
		width: 120px;
		/* padding-right: 1.5rem;
		padding-left: 1rem; */
	}
}

@media screen and (min-width: 865px) {
	.invoices-section-container {
		margin-left: 75px;
	}

	.invoices-section {
		max-width: 950px;
		margin: 0 auto;
		padding: 0 1rem;
	}

	.invoice-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		padding: 1.25rem 2rem;
	}

	.due-and-status {
		flex-direction: row;
		margin: 0;
		gap: 1.5rem;
	}

	.due-and-total {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
	}

	.name-and-id {
		gap: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.status-container {
		width: 125px;
		padding-top: 0.875rem;
		padding-bottom: 0.875rem;
	}

	.title-container {
		padding: 1rem 0;
	}

	.invoice-title {
		font-size: 3rem;
		padding: 3rem 0;
	}
}

@media screen and (min-width: 1176px) {
}

/* 
================================================================================
  ____    _             _                 
 / ___|  | |_    __ _  | |_   _   _   ___ 
 \___ \  | __|  / _` | | __| | | | | / __|
  ___) | | |_  | (_| | | |_  | |_| | \__ \
 |____/   \__|  \__,_|  \__|  \__,_| |___/

================================================================================
*/

.paid {
	color: var(--paid-text);
	background: var(--paid-bg);
}

.pending {
	color: var(--pending-text);
	background: var(--pending-bg);
}

.overdue {
	color: var(--overdue-text);
	background: var(--overdue-bg);
}

.draft {
	color: var(--draft-text);
	background: var(--draft-bg);
}

/* 
================
  _   _                       ___                           _               
 | \ | |   ___  __      __   |_ _|  _ __   __   __   ___   (_)   ___    ___ 
 |  \| |  / _ \ \ \ /\ / /    | |  | '_ \  \ \ / /  / _ \  | |  / __|  / _ \
 | |\  | |  __/  \ V  V /     | |  | | | |  \ V /  | (_) | | | | (__  |  __/
 |_| \_|  \___|   \_/\_/     |___| |_| |_|   \_/    \___/  |_|  \___|  \___|

================
*/

.overlay-container {
	position: fixed;
	/* float: left; */
	z-index: 3;
	width: 75px;
	transform: translateY(-75px);
	transition: var(--transition);
	width: 100vw;
	min-height: 100vh;
	max-width: 750px;
	/* transform: translateX(-500px); */
}

.overlay {
	height: auto;
	min-height: 100vh;
	background: var(--draft-bg);
	/* opacity: 0.75; */
	z-index: 3;
	transition: var(--transition);
	/* overflow: hidden; */
	padding: 1rem;
}

.open {
	transform: translateX(0);
}

.closed {
	transform: translateX(-100%);
}

@media screen and (min-width: 568px) {
	.overlay {
		padding: 2rem;
	}
}

@media screen and (min-width: 865px) {
	.overlay-container {
		transform: translateY(0);
	}

	.open {
		transform: translateX(0);
	}

	.closed {
		transform: translateX(-100%);
	}
}

.overlay-title {
	margin-top: 1rem;
	font-size: 2rem;
}

.input-title {
	color: var(--highlight);
	font-size: 1.25rem;
	margin-top: 0.75rem;
}

.invoice-from {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	gap: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.new-invoice-input {
	width: 100%;
	margin-top: 5px;
	padding: 0.4rem;
	font-size: 0.875rem;
	border-radius: var(--radius-1);
}

.company {
	grid-column: auto / span 4;
}

.street {
	grid-column: auto / span 2;
}

.city {
	grid-column: auto / span 2;
}

.postcode {
	grid-column: auto / span 2;
}

.country {
	grid-column: auto / span 2;
}

@media screen and (min-width: 565px) {
	.overlay-title {
		margin-top: 2rem;
	}

	.invoice-from {
		grid-template-columns: repeat(6, 1fr);
	}

	.company {
		grid-column: auto / span 3;
	}

	.street {
		grid-column: auto / span 3;
	}

	.city {
		grid-column: auto / span 2;
	}

	.postcode {
		grid-column: auto / span 2;
	}

	.country {
		grid-column: auto / span 2;
	}
}

.invoice-to {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1.5rem;
	margin-top: 1rem;
}

.client {
	grid-column: auto / span 3;
}

.email {
	grid-column: auto / span 3;
}

.client-city {
	grid-column: auto / span 3;
}

.client-street {
	grid-column: auto / span 3;
}

.client-postcode {
	grid-column: auto / span 3;
}

.client-country {
	grid-column: auto / span 3;
}

.invoice-date {
	grid-column: 1 / span 3;
}

.payment-expected {
	grid-column: auto / span 3;
}

.job-description {
	grid-column: auto / span 6;
}

.items {
	grid-column: auto / span 6;
}

.items-list {
	grid-column: auto / span 6;
}

.item {
	grid-column: auto / span 6;
	gap: 0.75rem;
	display: grid;
	grid-template-columns: auto 10% 40px 80px;
	margin-top: 0.75rem;
}

.total-input {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: var(--primary); */
}

.total-input-field {
	background-color: transparent;
	border: none;
}

.trash {
	max-height: 100%;
	max-width: 100%;
	height: 15px;
	margin-left: 0.75rem;
	filter: invert(59%) sepia(34%) saturate(281%) hue-rotate(202deg) brightness(82%) contrast(88%);
}

@media screen and (min-width: 568px) {
	.item {
		grid-template-columns: auto 10% 80px 120px;
	}
}

.add-new-item {
	background-color: var(--element);
	width: 100%;
	grid-column: auto / span 6;
	text-align: center;
	padding: 0.875rem;
	color: var(--text-secondary);
	border-radius: 25px;
}
